<div class="navbar-fixed">
  <nav class="header">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo brand_text">Social Link</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/base">Themes</a></li>
        <li class="header_active"><a href="/" class="header_text_active">Home</a></li>
        <li><a href="/inputs">Build Your Card</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="section no-pad-bot" id="index-banner">
    <div class="container white_background">
      <br><br>
      <h1 class="header center transparent_background bold_text">WELCOME!</h1>
      <div class="row center">
        <h5 class="header col s12 light transparent_background yellow_text">A modern way to preserve your social connections, elegantly and seamlessly. <br><br>Create your free online business card by clicking below:</h5>
      </div>
      <div class="row center">
        <a href="/inputs" id="download-button" class="btn-large waves-effect waves-light btn ">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
<div id="background"></div>

<footer class="page-footer page-footer1">
   <div class="footer-copyright">
     © 2016 Social Link - CEO Tomas Molina - tamolinamendoza@gmail.com
   </div>
 </footer>
