<div class="navbar-fixed">
  <nav class="header">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo brand_text">Social Link</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li class="header_active"><a href="/themes" class="header_text_active">Build Your Card</a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="card-panel layout z-depth-3 below_header">
  <h1 class="fill_in">Select Card Theme:</h1>
</div>

<div class="panel_themes z-depth-2">

            <div>
              <h5 class="themes_subtitle">Click your card to continue</h5>
            </div>


            <div class="div_themes hovereffect">
                <a href="/inputs_black"><img src="images/Card4ex.jpg" class="themes themes_left z-depth-1"></a>
                <a href="/inputs_blue"><img src="images/Card1ex.jpg" class="themes themes_right z-depth-1"></a>
            </div>

            <div class="div_themes">
                <a href="/inputs_red"><img src="images/Card3ex.jpg" class= "themes themes_left themes_bottom z-depth-1"></a></div>
                <a href="/inputs_brown"><img src="images/Card2ex.jpg" class="themes themes_bottom themes_bottom_right z-depth-1"></a>
            </div>

</div>

<footer class="page-footer page-footer2">
   <div class="footer-copyright">
     © 2016 Social Link - CEO Tomas Molina - tamolinamendoza@gmail.com
   </div>
 </footer>
